# Docker Hub (используется в docker-compose.production.yml)
DOCKERHUB_USERNAME=your_dockerhub_username

# PostgreSQL
POSTGRES_DB=foodgram
POSTGRES_USER=foodgram_user
POSTGRES_PASSWORD=foodgram_password
DB_HOST=db
DB_PORT=5432

# Django
SECRET_KEY=your-secret-key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,your-domain.ru,your-server-ip
CSRF_TRUSTED_ORIGINS=https://your-domain.ru,http://your-server-ip:8000
